@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .hover\:pause-scroll:hover {
      animation-play-state: paused;
    }
  }
  @layer utilities {
    .pause {
      animation-play-state: paused;
    }
 }
.animate-scroll:hover {
  animation-play-state: paused;
  cursor: pointer;
}
body{
 @apply bg-fav-color;
}

.spin-animation {
  animation: spin 1s linear infinite;
}


.rdrCalendarWrapper .rdrMonthAndYearPickers {
  background: #449fb4; 
  border-radius: 4px; 
  color: #ffffff; 
}

.rdrDayNumber span {
  color: #000000; 
  font-size: 16px; 
}


.rdrMonthPicker .rdrInRange {
  background: rgba(0, 123, 255, 0.2);
  border-radius: 50%; 
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}